
    .nav-link {
        text-decoration: none;
        color: #333;
       
        font-size: 20px;
        margin-right: 20px;

    }

    .nav-link:hover {
        color: #555;
       
    }

    .fas {
        margin-right: 5px;
   
    }

    .hidden-md-down {
        display: inline-block;

        font-weight: bold;
       
    }

    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 2250px;
        margin: 0 auto;
        padding: 0 20px;
    }

    header {
        background-color: #004170;
        ;
        color: #fff;
        padding: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav li i {
        font-size: 18px;
        margin-right: 8px;
    }

    header h1 {
        margin: 0;
        font-size: 36px;
    }

    .navbar-nav li a {
        color: gray;
        font-weight: 500;
        font-size: 16px;
    }

    .navbar-nav li {
        display: flex;
        align-items: center;
    }

    .navbar-nav li a:hover {
        color: #ffc107;
       
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-color: #fff;
     
    }

    .dropdown-menu {
        padding: 10px;
        border: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item {
        color: #333;
       
    }

    .dropdown-item:hover {
        background-color: #f8f9fa;
       
    }



    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    .navbar {
        background-color: #004170;
    }


    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    main {
        padding: 40px 0;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
    }

   
    .chart {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }

  
    footer {
        background-color: #004170;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }

    footer p {
        margin: 0;
        font-size: 18px;
    }

    .nav-item,
    .dropdown-menu,
    .nav-link {
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .navbar-toggler-icon {
        transition: background-color 0.3s ease;
    }

    .nav-item:hover,
    .dropdown-item:hover {
        background-color: #0061a8;
        /* Color más claro */
        color: #fff;
    }

    .btn-logout {
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav-link:hover {
        color: #ffc107;
    }

    .dropdown-menu {
        border: 1px solid #ccc;
    }


   
    .table {
        width: 100%;
        margin-top: 10px;
    }

    .table th,
    .table td {
        padding: 15px;
        text-align: left;
    }

    .table th {
        background-color: #004170;
        ;
        color: #fff;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    i {
        margin-right: 5px;
    }

    .table button {
        padding: 5px 10px;
        font-size: 14px;
        margin: 0;
    }

  
    .btn-primary {
        background-color: #004170;
        border: none;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #004170;
    }

    .btn-danger {
        background-color: #e74c3c;
        border: none;
        color: #fff;
    }

    .btn-danger:hover {
        background-color: #c0392b;
    }

    .logo {
        color: #ffc107;
     
        margin: 16px;
        font-size: 24px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        
    }
